Repository longevitycoach/longevitycoach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ma3u, @documentation-team, @frontend-team, @backend-team, @devops-team, @qa-team

feat: add /projects page and nav entry for Health Projects
  frontend/src/app/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/components/layout/Header.tsx
Owners: @ma3u, @frontend-team

fix: move @next/mdx to dependencies to fix CI build
  frontend/package-lock.json
  frontend/package.json
Owners: @ma3u, @devops-team

fix: remove @next/mdx wrapper from next.config.js to fix CI build
  frontend/next.config.js
Owners: @ma3u, @frontend-team

fix: separate npm ci from build step in GH Pages workflow
  .github/workflows/gh-pages.yml
Owners: @ma3u, @devops-team

fix: correct TypeScript type in form-field-new and fix projects page JSX
  frontend/src/app/projects/page.tsx
  frontend/src/components/forms/form-field/form-field-new.tsx
Owners: @ma3u, @frontend-team

fix: revert renderInput param to any type to fix TS error in form-field-new
  frontend/src/components/forms/form-field/form-field-new.tsx
Owners: @ma3u, @frontend-team

fix: resolve all TypeScript build errors blocking CI
  frontend/src/components/forms/form-field/form-field.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/theme/theme-provider.tsx
  frontend/src/lib/presentation.ts
Owners: @ma3u, @frontend-team

fix: repair GH Pages deployment pipeline
  .github/workflows/gh-pages.yml
Owners: @ma3u, @devops-team

fix: extract CookieConsent to client component to fix prerender error
  frontend/src/app/layout.tsx
  frontend/src/components/CookieConsent.tsx
Owners: @ma3u, @frontend-team

fix: remove deprecated next export command, output directly to docs/
  frontend/next.config.js
  frontend/package.json
Owners: @ma3u, @frontend-team, @devops-team

chore: add remaining uncommitted files
  README.md
  content/assets/linkedin.journey.md
  memory-bank/decisions/dec-010-authentication-strategy.md
  memory-bank/decisions/dec-011-data-encryption.md
Owners: @ma3u, @documentation-team

feat: bring projects page in line with the live site
  frontend/next.config.js
  frontend/package.json
  frontend/public/projects/ehds/ehds-knowledge-graph.png
  frontend/public/projects/healthgraph/01-aura-agent-playground-longevity-question.png
  frontend/public/projects/healthgraph/02-aura-dashboard-whoop-recovery.png
  frontend/public/projects/twobreath/twobreath-health-dashboard.jpeg
  frontend/public/projects/twobreath/twobreath-home.jpeg
  frontend/src/app/projects/page.tsx
Owners: @ma3u, @frontend-team, @devops-team

fix: EHDS is a demo and integration platform, not a multi-language app
  frontend/src/app/projects/page.tsx
Owners: @ma3u, @frontend-team

ci: repair the branch protection workflow
  .github/workflows/branch-protection.yml
  frontend/tsconfig.json
Owners: @ma3u, @devops-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @ma3u

# Documentation
/docs/ @ma3u @documentation-team

# Frontend code
/frontend/ @ma3u @frontend-team

# Backend code
/backend/ @ma3u @backend-team

# Infrastructure
/.github/ @ma3u @devops-team
/infrastructure/ @devops-team

# Configuration files
/.github/ @ma3u @devops-team
*.yaml @ma3u @devops-team
*.yml @ma3u @devops-team
*.json @ma3u @devops-team

# Tests
/tests/ @ma3u @qa-team
*.test.* @ma3u @qa-team
*_test.* @ma3u @qa-team

# Documentation
*.md @ma3u @documentation-team

# Memory bank
/memory-bank/ @ma3u @documentation-team
